html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 100%; background: white; margin: auto !important; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
#title-op { font-family: serif; color: #377ba8; font-weight: bold;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }

.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.notbold { font-weight: normal; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

td { font-size: 0.85em; text-align: center; vertical-align: middle; }

table {
    display: block;
    overflow-x: auto;
    table-layout: fixed;
    white-space:nowrap;
}

.largediv {
    text-align: left;
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    white-space: normal;
    width: 400px;
}

.largediv200px {
  text-align: left;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  white-space: normal;
  width: 200px;
}

.largediv440px {
  text-align: left;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  white-space: normal;
  min-width: 220px;
  max-width: 440px;
}

.sidebar {
    height: -webkit-fill-available;
    width: 0;
    position: fixed;
    z-index: 40;
    top: 66px;
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
  }
  
  .sidebar h3 {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }

  .sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #0036b1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


.inputResp {
  margin-right: 80% !important;
}

@media screen and (max-width: 800px) {
  /* For desktop: */
  .inputResp {margin-right: 0% !important;}
}

thead input {
  width: 100%;
}

tr.last {
  border-bottom: white;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}